
<div class="main-visual" style="margin-top:50px; text-align: center;">
  <%= image_tag 'autumn', :width => '70%' %>
</div>

<div class="container">
  <div class="category">
    <%= link_to(image_tag("autumn.jpg"), controller: "events", action: "index", season_id: 1) %>
  </div>
  <div class="category">
    <%= link_to(image_tag("autumn.jpg"), controller: "events", action: "index", season_id: 2) %>
  </div>
  <div class="category">
    <%= link_to(image_tag("autumn.jpg"), controller: "events", action: "index", season_id: 3) %>
  </div>
  <div class="category">
    <%= link_to(image_tag("autumn.jpg"), controller: "events", action: "index", season_id: 4) %>
  </div>
</div>


<%= month_calendar do |date,event| %>
  <%= date.day %>
  <% @events.each do |event| %>

  <div>
    <%= event.name %>

</div>
<% end %>
<% end %>