
<div class="main-visual" style="margin-top:50px; text-align: center;">
  <%= image_tag 'autumn', :width => '70%' %>
</div>

<div class="container">
  <div class="category">
    <%= image_tag 'autumn' %>
  </div>
  <div class="category">
    <%= image_tag 'autumn' %>
  </div>
  <div class="category">
    <%= image_tag 'autumn' %>
  </div>
  <div class="category">
    <%= image_tag 'autumn' %>
  </div>
</div>

