<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">

      <div class="row slider-area">
        <div class="col-xs-12 slider-items">
          <ul class="slider">
            <li><%= image_tag "slide1" %></li>
            <li><%= image_tag "slide2" %></li>
            <li><%= image_tag "slide3" %></li>
            <li><%= image_tag "slide4" %></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="season-link col-xs-6 col-md-3">
          <%= link_to image_tag("1haru"), events_path(season_id: 1) %>
        </div>
        <div class="season-link col-xs-6 col-md-3">
          <%= link_to image_tag("2natu"), events_path(season_id: 2) %>
        </div>
        <div class="season-link col-xs-6 col-md-3">
          <%= link_to image_tag("3aki"), events_path(season_id: 3) %>
        </div>
        <div class="season-link col-xs-6 col-md-3">
          <%= link_to image_tag("4huyu"), events_path(season_id: 4) %>
        </div>
      </div>

      <div class="row">
        <div class="calendar col-xs-12" id="calender">
          <%= month_calendar events: @events do |date, events| %>
          <%= date.day %>
          <% events.each do |event| %>
          <div>
            <%= link_to event.name, events_path(season_id: event.season_id) %>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>