<div class="row">
  <%= form_for(@post, url: url) do |f| %>

    <div class="mypage-form col-xs-12 col-md-7">
      <dl>
        <dt><%= f.label "楽しむ日" %></dt>
        <dd><%= f.date_field :date %></dd>

        <dt><%= f.label "行事名" %></dt>
        <dd><%= f.collection_select :event_id, Event.all, :id, :name %></dd>

        <dt><%= f.label "ハレ食(行事食)" %></dt>
        <dd><%= f.text_field :food %></dd>

        <dt><%= f.label "詳しく" %></dt>
        <dd><%= f.text_area :content %></dd>
      </dl>
    </div>
    <div class="profile-icon col-xs-12 col-md-5">
      <%= attachment_image_tag @post, :food_image, id: "img_prev", fallback: "no_image.jpg" %>
      <%= f.attachment_field :food_image, class: "food-img" %>
    </div>

    <script>
      $(document).on("turbolinks:load", function(){
        function readURL(input) {
          if(input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload = function (e) {
              $('#img_prev').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
        $("#post_food_image").change(function(){
          readURL(this);
        });
      });
    </script>

    <div class= "col-xs-12">
      <%= f.submit submit , class: "btn btn-md" %>
      <% end %>
    </div>

</div>