<div class="row">
  <%= form_for(@post, url: url) do |f| %>
  <%= render 'layouts/error_messages', resource: post %>

    <div class="col-xs-12 col-md-5">
      <%= attachment_image_tag @post, :food_image, id: "img_prev", fallback: "no_image", class: "food-img" %>
      <%= f.attachment_field :food_image %>
    </div>

    <div class="form col-xs-12 col-md-7">
      <dl>
        <dt><%= f.label "楽しむ・楽しんだ日" %></dt>
        <dd><%= f.date_field :date %></dd>

        <dt><%= f.label "行事名" %></dt>
        <dd><%= f.collection_select :event_id, Event.all, :id, :name %></dd>

        <dt><%= f.label "ハレ食(行事食)" %></dt>
        <dd><%= f.text_field :food %></dd>

        <dt><%= f.label "詳しく" %></dt>
        <dd><%= f.text_area :content %></dd>
      </dl>
    </div>

    <div class= "col-xs-12">
      <%= f.submit submit , class: "btn btn-md" %>
    </div>
  <% end %>
</div>