<div class="col-xs-12">
  <div class="row">
    <%= form_for(@post, url: url) do |f| %>
    <div class="image-field col-xs-12 col-md-3">
      <%= attachment_image_tag post, :food_image, class: "img", fallback: "no_image.jpg" %>
      <%= f.attachment_field :food_image %>
    </div>

    <div class="mypage-form-field col-xs-12 col-md-8">
      <dl>
        <dt><%= f.label "楽しむ日" %></dt>
        <dd><%= f.date_field :date %></dd>

        <dt><%= f.label "行事名" %></dt>
        <dd><%= f.collection_select :event_id, Event.all, :id, :name %></dd>

        <dt><%= f.label "ハレ食(行事食)" %></dt>
        <dd><%= f.text_field :food %></dd>

        <dt><%= f.label "詳しく" %></dt>
        <dd><%= f.text_area :content %></dd>
      </dl>
    </div>

      <%= f.submit submit , class: "btn btn-primary btn-md" %>
      <% end %>

  </div>
</div>