<div class="row">
  <h1>みんなのハレ食</h1>
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <table class="post-block">
          <tr>
            <th></th><td><%= link_to post_path(post) do %><%= attachment_image_tag post, :food_image, fallback: "no_image.jpg", class: "food-img" %></td>
            <% end %>
          </tr>
          <tr>
            <th></th><td><%= post.date %></td>
          </tr>
          <tr>
            <th></th><td><%= post.event.name %></td>
          </tr>
          <tr>
            <th></th><td><%= post.food %></td>
          </tr>
          <tr>
            <th></th><td><%= post.content.truncate(18) %></td>
          </tr>
          <% if member_signed_in? %>
            <tr>
              <th></th><td><i class="fas fa-heart" style="color: #ee827c;"></i><%= post.favorites.count %></td>
            </tr>
          <% else %>
            <tr>
              <th></th>
            </tr>
            <% end %>
          <tr>
            <th></th>
              <td><%= attachment_image_tag post.member, :profile_image, fallback: "no_image.jpg", class: "member-icon" %>
                  <strong><%= link_to member_path(post.member) do %><%= post.member.name %></strong></td>
              <% end %>
          </tr>
        </table>
      </div>
    <% end %>
</div>

