<div class="col-xs-12 col-md-6 col-lg-4">
  <table class="post-block">
    <tr>
      <th></th><td><%= link_to post_path(post) do %><%= attachment_image_tag post, :food_image, fallback: "no_image", class: "food-img" %></td>
            <% end %>
    </tr>
    <tr>
      <th></th><td><%= post.date %></td>
    </tr>
    <tr>
      <th></th><td><strong><%= link_to post.event.name, events_path(season_id: post.event.season_id) %></strong></td>
    </tr>
    <tr>
      <th></th><td><%= post.food %></td>
    </tr>
    <tr>
      <th></th><td><%= post.content.truncate(18) %></td>
    </tr>
    <% if member_signed_in? %>
    <tr>
      <th></th>
      <td><%= link_to post_path(post) do %><i class="fas fa-heart fa-lg" style="color: #ee827c;"></i>
          <%= post.favorites.count %>
          <% end %>
          <%= link_to post_path(post) do %><i class="fas fa-comment fa-lg"></i>
          <%= post.comments.count %>
          <% end %>
      </td>
    </tr>
    <% else %>
    <% end %>