<div class="container-fluid">
  <div class="row">
    <div class="event-area col-xs-12">

      <h2>みんなのハレ食</h2>
        <div class="post-index col-xs-12">
          <div class="row">
            <% @posts.each do |post| %>
            <div class="post-content col-xs-6 col-md-4">
              <table>
                <tr>
                  <th></th><td><%= attachment_image_tag @post, :food_image, :size => "200x200", fallback: "no_image.jpg" %></td>
                </tr>
                <tr>
                  <th></th><td><%= post.date %></td>
                </tr>
                <tr>
                  <th></th><td><%= post.event.name %></td>
                </tr>
                <tr>
                  <th></th><td><%= post.food %></td>
                </tr>
                <tr>
                  <th></th><td><%= post.content %></td>
                </tr>
                  <th></th><td><%= link_to member_path(post.member) do %>by<%= post.member.name %></td>
                  <% end %>
                </tr>
              </table>
            </div>
            <% end %>
          </div>
        </div>

    </div>
  </div>
</div>