<div class="container-fluid">
  <div class="row">
    <div class="profile-area col-xs-12">
      <%= render 'members/members/profile', member: @member %>
    </div>

    <div class="row">
      <% @member.posts.each do |post| %>
        <div class="post-content col-xs-12 col-md-6 col-lg-4">
          <table class="post-block">
            <tr>
              <th></th><td><%= link_to post_path(post) do %><%= attachment_image_tag post, :food_image, fallback: "no_image.jpg", class: "food-img" %></td>
              <% end %>
            </tr>
            <tr>
              <th></th><td><%= post.date %></td>
            </tr>
            <tr>
              <th></th><td><%= post.event.name %></td>
            </tr>
            <tr>
              <th></th><td><%= post.food %></td>
            </tr>
            <tr>
              <th></th><td><%= post.content.truncate(18) %></td>
            </tr>
            <% if member_signed_in? %>
              <tr>
                <th></th>
                  <td><%= link_to post_path(post) do %><i class="fas fa-heart" style="color: #ee827c;"></i><%= post.favorites.count %><% end %>
                      <%= link_to post_path(post) do %><i class="fas fa-comment"></i><%= post.comments.count %></td><% end %>
              </tr>
            <% else %>
              <tr>
                <th></th>
              </tr>
            <% end %>

            <% if @member == current_member %>
            <tr>
              <th></th><td><%= link_to "編集する", edit_post_path(post) %></td>
              <% end %>
            </tr>
          </table>
        </div>
        <% end %>
      </div>

      <div class="row">
        <div class="actions col-xs-12">
          <% if @member == current_member %>
          <%= link_to "新規投稿する", new_post_path, class: "btn btn-md" %>
          <% end %>
        </div>
      </div>

  </div>
</div>

