<h1>行事一覧</h1>

<%= link_to new_admins_event_path do %>
<label class="btn btn-primary btn-md">新規登録する</label>
<% end %>

<table>
  <thead>
    <tr>
      <th>行事ID</th>
      <th>行事名</th>
      <th>行事食</th>
      <th>行事季節</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= link_to event.name, admins_event_path(event.id), class: "underline" %></td>
        <td><%= event.name %></td>
        <td><%= event.season.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
