<h1>行事詳細</h1>
  <table>
    <tr>
      <th>行事季節</th>
      <td><%= @event.season.name %></td>
    </tr>

    <tr>
      <th>行事日</th>
      <td><%= @event.date %></td>
    </tr>

    <tr>
      <th>行事名</th>
      <td><%= @event.name %></td>
    </tr>

    <tr>
      <th>行事食</th>
      <td><%= @event.food %></td>
    </tr>

    <tr>
      <th>行事説明</th>
      <td><%= @event.introduction %></td>
    </tr>

    <div class="img_field">
      <%= attachment_image_tag(@event, :event_image, :size => '300x240', fallback: "no_image.jpg") %>
    </div>

    <%= link_to edit_admins_event_path do %>
    <label class="btn btn-primary btn-md">編集する</label>
    <% end %>