<div class="container-fluid">
  <div class="row">
    <div class="event-area col-xs-12">
      <div class="row">
        <h1><%= @season.name %>の行事とハレ食</h1>
          <% @events.each do |event| %>
          <div class="event col-xs-12 col-md-8">
            <table class="event-content">
              <tr>
                <th></th><td><%= l event.start_time, format: :short %></td>
              </tr>
              <tr>
                <th></th><td><%= event.name %></td>
              </tr>
              <tr>
                <th></th><td><%= event.food %></td>
              </tr>
              <tr>
                <th></th><td><%= event.introduction %></td>
              </tr>
            </table>
        </div>
        <div class="event col-xs-12 col-md-4">
          <%= attachment_image_tag event, :event_image, fallback: "no_image.jpg", class: "event-img" %>
        </div>
          <% end %>
      </div>
    </div>

    <%= render 'members/posts/index', post: @post %>

    <div class="row">
      <div class="season-link-s col-xs-12">
        <ul>
          <li><%= link_to "春", events_path(season_id: 1) %></li>
          <li><%= link_to "夏", events_path(season_id: 2) %></li>
          <li><%= link_to "秋", events_path(season_id: 3) %></li>
          <li><%= link_to "冬", events_path(season_id: 4) %></li>
        </ul>
    </div>
  </div>

  </div>
</div>